.nav-wrapper{
background-color: rgb(192, 128, 100);
/* position: fixed; */
}
.page-footer{
    
background-color:  rgb(192, 128, 100);
}
.brand-logo{
    /* font-family: 'Arima Madurai', cursive; */
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Nunito', sans-serif; */
font-family: 'Italianno';
/* font-family: 'Merienda', cursive; */
/* font-size: 100px; */


}
.women{
    color: black;
    margin-left: 50px;
    font-size: 12px;
    /* margin-top: 0px; */
    font-family: sans-serif;
    display: none;
}
.men{
    color: black;
    margin-left: 50px;
    font-size: 12px;
    /* margin-top: 0px; */
    font-family: sans-serif;
    /* display: none; */
    display: none;
}
.img{
    width: 100%;
    /* height: 400px; */

}
.carasole{
    display: flex;
    /* overflow: hidden; */
    /* transform: translatex(-100%); */
    transition: transform 0.4s linear;

}
.content{
    overflow: hidden;
}
.allproduct h2{
color: #915237;
    font-size: 30px;
    text-align: center;
    /* font-weight: bold; */

}
/* .product-1{
    width: 250px;
    height: 350px;
    background-color: black;
} */
.activator{
    max-width: 100%;
    object-fit: cover;
    /* font-size: 15px; */
}
.catageries{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 230px;
/* height: 360px; */
    /* display: inline-block; */
    /* margin: 10px 0 20px 20px; */

}


/* contact */

.contact{
    text-align: center;
    font-family: sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
}
.contact h2{

    font-family: sans-serif;
    text-align: center;
    font-size: 30px;
}
.contact p{
    font-size: 20px;
}

.contact i{
    font-size: 30px;
    color: green;
}
.socialmedia li{
    display: inline;
    padding: 5px;

}
.pendents{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.pendent-headding h3{
    text-align: center;
    font-size: 30px;
    color: #915237;
}
.pendent-box{
    width: 200px;
    height: 300px;
    /* border: 1px solid; */
    /* margin: 20px; */

}
.pendent-box img{
    width: 100%;
}

.pendent-box p{
    font-size: 15px;
    margin-top: 15px;
    font-weight: bold;
}
.rate{
    color: red;
}


@media screen and (max-width: 400px) {
.allproduct h2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
 
.card{
    width: 160px;
}
.activator{
    font-size: 10px;
}
.pendents{
    display: block;
}
.pendent-box{
    width: 90%;
    height: 200px;
    /* border: 1px solid; */
    display: flex;
    box-shadow: black 1px 1px 1px 1px 1;
    align-items: center;
}
.pendent-box img{
    width: 45%;
}

.pendent-box p{
    font-size: 15px;
    margin-top: 15px;
    margin-left: 14px;
}

.pendent-headding h3{
    text-align: center;
    font-size: 25px;
    color: #915237;
}

}