.nav-wrapper{
background-color: rgb(192, 128, 100);
/* position: fixed; */
}
.page-footer{
    
background-color:  rgb(192, 128, 100);
}
.brand-logo{
    /* font-family: 'Arima Madurai', cursive; */
/* font-family: 'Sacramento', cursive; */
/* font-family: 'Nunito', sans-serif; */
font-family: 'Italianno';
/* font-family: 'Merienda', cursive; */
/* font-size: 100px; */


}
.women{
    color: black;
    /* padding-left: 50px; */
    font-size: 12px;
    /* margin-top: 0px; */
    font-family: sans-serif;
    display: none;
}
.men{
    color: black;
    padding-left: 50px;
    font-size: 12px;
    /* margin-top: 0px; */
    font-family: sans-serif;
    /* display: none; */
    display: none;
}
    .men li:hover{
        background-color: #f2f2f2;
    }
.img{
    width: 100%;
    /* height: 400px; */

}
.carasole{
    display: flex;
    /* overflow: hidden; */
    /* transform: translatex(-100%); */
    transition: transform 0.4s linear;

}
.content{
    overflow: hidden;
}
.allproduct h2{
color: #915237; 
    font-size: 30px;
    text-align: center;
    /* font-weight: bold; */

}
/* .product-1{
    width: 250px;
    height: 350px;
    background-color: black;
} */
.activator{
    max-width: 100%;
    object-fit: cover;
    /* font-size: 15px; */
}
.text-control{
font-size: 15px;
}

.catageries,#card-hide{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card{
    width: 230px;
height: 320px;
padding: 10px;
    /* display: inline-block; */
    /* margin: 10px 0 20px 20px; */

}
#hidebox{
    display: none;
}
.card-content p{
    padding-top: 10px;
}
.btn-container{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

}
.btn-container .btn{
    background-color: rgb(192, 128, 100);
}
.contact{
    text-align: center;
    font-family: sans-serif;
    padding-top: 80px;
    padding-bottom: 80px;
}
.contact h2{

    font-family: sans-serif;
    text-align: center;
    font-size: 40px;
}
.contact p{
    font-size: 20px;
}

.contact i{
    font-size: 30px;
    color: green;
}
.socialmedia li{
    display: inline;
    padding: 5px;

}
.pendents{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
   
}
.pendent-headding h3{
    text-align: center;
    font-size: 40px;
    color: #915237;
}
.off{
    position: absolute;
    color: #fff;
    background-color: #c93032;
    width: 50px;
    height: 50px;
    font-size: 13px;
    border-radius: 100px;
    padding-top: 5px;
    margin-top: 8px;
    margin-left: 8px;
    
}
.pendent-box{   
    width: 200px;
    height: 300px;
    text-align: center;
    /* border: 1px solid; */
    /* margin: 20px; */

}
.pendent-box:hover{
    background-color: #e8c9b9;
/* color: white; */
    border-radius: 5px;
}
.pendent-box img{
    width: 90%;
    margin-top: 10px;
}

.pendent-box p{
    font-size: 15px;
    margin-top: 15px;
    /* font-weight: bold; */
}
.rate{
    color: #c93032;
    display: block;
    font-size: 12px;
    
}
.hoodies h3{
    color: #915237;
    font-size: 40px;
    text-align: center;
}
.hoodie-cover-area{
    display: flex;
    justify-content: space-around;
}
.hoodie-cover-area img{
width: 45%;    
margin-bottom: 20px;
margin-top: 10px;
}
.hoodie-cover-area img:hover{
opacity: 0.5;

}
.hoodie-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
margin-bottom: 20px;
}
.fab ,.fas{
    font-size: 25px;
}

@media screen and (max-width: 400px) {
.allproduct h2{
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
 
.card{
    width: 160px;
    height: 250px;
}
.activator{
    font-size: 10px;
}
.pendents{
    /* display: flex; */
    flex-wrap: wrap;
}
.off{
    position: absolute;
    color: #fff;
    background-color: #c93032;
    width: 40px;
    height: 40px;
    font-size: 11px;
    border-radius: 100px;
    padding-top: 5px;
    margin-top: 12px;
    margin-left: 8px;
    
}
.pendent-box{
    width: 40%;
 height: 260px;
    /* border: 1px solid; */
text-align: center;
margin: 10px;
}
/* .pendent-box img{
    width: 45%;
} */


.pendent-box p{
    font-size: 15px;
    /* margin-top: 15px;
    margin-left: 14px; */
    /* text-align: center; */
}

.pendent-headding h3{
    text-align: center;
    font-size: 25px;
    color: #915237;
}

.hoodie-cover-area{
    display: block;
    /* margin: auto; */
    justify-content: center;
}
.hoodie-cover-area img{
width: 80%;    
margin-left: 40px;
margin-bottom: 10px;
}
.hoodie-cover-area img:hover{
opacity: 0.5;

}

.hoodies h3{
    /* color: #915237; */
    font-size: 25px;
    /* text-align: center; */
}
}